[Unit]
Description=godoc 6060 service
After=network.target

[Service]
Environment="GOPATH=/home/mark/inin/dca/hwinfra/gopath:/home/mark/inin/dca/build/go"
ExecStart=/usr/local/go/bin/godoc -http :6060 -timestamps -notes '(BUG|TODO|NOTE|FIXME)'
WorkingDirectory=/home/mark/inin/dca/hwinfra/gopath
